<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <nav th:fragment="menu" class="navbar navbar-expand-lg navbar bg-primary text-white mb-4 mt-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"> <img src="https://i.redd.it/5q2g5rhax9v61.png" alt="Logo Marina"
                    style="height: 45px;background:white;padding:4px; ">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link text-white" href="/">Inicio</a>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link text-white dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown">Piratas </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/piratas/insertarPirata}">Insertar Pirata</a></li>
                            <li><a class="dropdown-item" th:href="@{/piratas/listadoPiratas}">Listado Piratas</a></li>
                            <li><a class="dropdown-item" th:href="@{/piratas/formularioActualizarPiratas}">Actualizar
                                    Pirata</a></li>
                            <li><a class="dropdown-item" th:href="@{/piratas/formularioBorrarPiratas}">Borrar Pirata</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link text-white dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown">Tripulaciones </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/tripulaciones/insertarTripulacion}">Insertar
                                    Tripulación</a></li>
                            <li><a class="dropdown-item" th:href="@{/tripulaciones/listadoTripulaciones}">Listado
                                    Tripulaciones</a></li>
                            <li><a class="dropdown-item"
                                    th:href="@{/tripulaciones/formularioActualizarTripulaciones}">Actualizar
                                    Tripulación</a></li>
                            <li><a class="dropdown-item"
                                    th:href="@{/tripulaciones/formularioBorrarTripulaciones}">Borrar Tripulación</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link text-white dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown">Recompensas </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/recompensas/emitirRecompensa}">Emitir
                                    Recompensa</a></li>
                            <li><a class="dropdown-item" th:href="@{/recompensas/listadoRecompensas}">Listado
                                    Recompensas</a></li>
                            <li><a class="dropdown-item"
                                    th:href="@{/recompensas/formularioActualizarRecompensas}">Actualizar Recompensa</a>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/recompensas/formularioBorrarRecompensas}">Borrar
                                    Recompensa</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link text-white dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown">Capturas </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/capturas/registrarCaptura}">Registrar Captura</a>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/capturas/listadoCapturas}">Listado Capturas</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/tesoreria/listadoOperaciones}">Tesorería Marina</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>