<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
    	<!--  Configuracion JDBC para el acceso a la BBDD -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/colegio</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property> <!-- Aqui pon tu contraseña -->

		<!--  Seteamos el pool de conexiones a 1 -->
        <property name="connection.pool_size">10</property>
        
		<!--  Dialecto SQL a usar, cada BBDD (Oracle,MySQL, Postgresql) tienen el suyo -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!--  Con esta configuracion nos saldrá por consola las sentencias SQL que se envian a la BBDD -->
        <property name="show_sql">true</property>

		<!-- Con esta configuracion nos saldrá por consola las sentencias SQL de una forma más legible  -->
        <property name="format_sql">true</property>

        <property name="current_session_context_class">thread</property>
        
        <mapping class="entities.AlumnoEntity"></mapping>
        <mapping class="entities.AsignaturaEntity"></mapping>
        <mapping class="entities.MunicipiosEntity"></mapping>
        <mapping class="entities.NotasEntity"></mapping>
        <mapping class="entities.CajaEntity"></mapping>
        <mapping class="entities.MatriculasEntity"></mapping>

    </session-factory>
</hibernate-configuration>