<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="4.0">

  <servlet>
    <servlet-name>NumeroAleatorio</servlet-name>
    <servlet-class>com.NumeroAleatorio</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>NumeroAleatorio</servlet-name>
    <url-pattern>/numero</url-pattern>
  </servlet-mapping>

</web-app>